<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/recipes">
            <img src="/img/publicdomainq-foodpot.svg" alt="Brand Image" height="60" width="60">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/recipes">Recipes</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Browse Meals
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/recipes">All</a></li>
                        <li><a class="dropdown-item" href="/recipes/meal/breakfast">Breakfast</a></li>
                        <li><a class="dropdown-item" href="/recipes/meal/lunch">Lunch</a></li>
                        <li><a class="dropdown-item" href="/recipes/meal/dinner">Dinner</a></li>
                        <li><a class="dropdown-item" href="/recipes/meal/dessert">Dessert</a></li>
                        <li><a class="dropdown-item" href="/recipes/meal/snack">Snack</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Show only recipes for which I have ingredients for in my pantry</label>
                        </div>
                          
                        <!-- <li><a class="dropdown-item" href="#">Pantry Ingredients only</a></li> -->
                    </ul>
                    <li class="nav-item">
                        <a class="nav-link" href="/recipes/new">Add Recipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pantry">Pantry</a>
                    </li>
                    <!-- If not logged in, show Login and Sign Up buttons -->
                    <% if (!user) { %> 
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>
                    <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log Out</a>
                    </li>
                    <% } %>
            </ul>
            <form class="d-flex" role="search" action="/recipes/search" method="GET">
                <input class="form-control me-2" type="search" placeholder="Search" name="term" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<% if (successMessage != "") { %>
    <div class="alert alert-success" role="alert">
        <%= successMessage %>
    </div>
<% } %>
<% if (errorMessage != "") { %>
    <div class="alert alert-warning" role="alert">
        <%= errorMessage %>
    </div>
<% } %>