<%- include("partials/header") %>
    <div class="container">
        <h1>Add New Recipe</h1>
        <form action="/recipes" method="POST">
            <div class="mb-3">
                <label for="mealType" class="form-label">Meal Type</label>
                <select class="form-control" id="mealType" name="mealType" autofocus>
                    <option disabled selected>Choose the meal type</option>
                    <option>Breakfast</option>
                    <option>Lunch</option>
                    <option>Dinner</option>
                    <option>Dessert</option>
                    <option>Snack</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="recipeName" class="form-label">Recipe Name</label>
                <input type="text" class="form-control" name="recipeName" placeholder="Name of your recipe">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" name="description" placeholder="Add a short description for your recipe">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Link to Image</label>
                <input type="text" class="form-control" name="image" placeholder="Add a link to an image of your recipe">
            </div>
            <div class="mb-3">
                <label for="ingredients" class="form-label">Ingredients</label>
                <input type="text" class="form-control" name="ingredients" placeholder="Add a list of ingredients">
            </div>
            <div class="mb-3">
                <label for="instructions" class="form-label">Instructions</label>
                <input type="text" class="form-control" name="instructions" placeholder="Add the step by step instructions">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
<%- include("partials/footer") %>